@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 20% 95%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 270 50% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 277 79% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 0 0% 100%;
    --ring: 270 50% 40%;
    --radius: 0.5rem;
    --chart-1: 120 70% 40%; /* Green */
    --chart-2: 210 70% 50%; /* Blue */
    --chart-3: 0 70% 50%;   /* Red */
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 50% 50%;
    --primary-foreground: 0 0% 9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 277 79% 72%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 270 50% 50%;
    --chart-1: 120 60% 35%; /* Green */
    --chart-2: 210 60% 45%; /* Blue */
    --chart-3: 0 60% 45%;   /* Red */
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.print-only {
  display: none;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: white !important;
  }
  .no-print {
    display: none !important;
  }
  .print-container {
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: none;
    border: none;
  }
  .print-card {
    border: 1px solid #ccc;
    page-break-inside: avoid;
    width: 50%;
  }
  .print-table {
    width: 100%;
    font-size: 8px; /* Even smaller font for print */
  }
  .print-table th, .print-table td {
    padding: 2px 4px;
  }
  .print-only {
    display: table-row !important;
  }
}

.pdf-generation {
    .print-shifts-container {
        flex-direction: column;
    }
    .print-card {
        width: 100%;
        margin-bottom: 1rem;
    }
}
.pdf-generation .print-table {
    font-size: 8px;
}
.pdf-generation .print-table th,
.pdf-generation .print-table td {
    padding: 2px;
}
